html {
    background-color: white;
}

@font-face {
    font-family: 'Slabo 27px', serif;
    font-family: 'Piazzolla', serif;
    font-family: 'Inknut Antiqua', serif;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Permanent Marker', cursive;
}

body {
    padding: 0 110px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Permanent Marker', cursive;
}

h1 {
    text-align: right;
    padding: 0 40px;
}

/* begin responsive nav */
/* Add a black background color to the top navigation */
.topnav {
    background-color: #AAB869;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    max-width: 100%;
    max-height: 4.5em;
}

.topnav a img {
    max-height: 2em;
    top: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 1em;
    margin: 1em;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Slabo 27px', serif;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: white;
    color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #6C804D;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("logo"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        color: black;
        background-color: #AAB869;
    }

    body {
        padding: 0;
        z-index: 0;
    }
}

/* einde navigatie responsive */


/* Index html pagina */

.homepagina {
    background-image: url(../img/groene_header_web.png);
    background-repeat: no-repeat;
    margin-top: 0;
    max-width: 100%;
    padding-right: 1em;
}

section ul li {
    font-family: 'IBM Plex Mono', monospace;
    list-style-type: none;
    text-align: right;
    padding: .5em 0;
}

.top {
    text-align: right;
}

/*header stuk */
@media screen and (min-width: 601px) {
    .top ul {
        margin-top: 2em;
        margin-left: 700px;
    }
}

@media screen and (max-width: 600px) {
    .top ul {
        background-color: #6C804D;
        padding: 10px;
    }
}

.buttontop {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
    border: 1px solid black;
    margin-right: 100px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 20px;
    margin-top: 40px;
    margin-bottom: 200px;
    display: inline-block;
    border-radius: 20px;
}

.buttontop:hover {
    color: white;
    background-color: black;
}


/* einde index html pagina */



@media screen and (min-width: 601px) {
    h1 {
        font-size: 100px;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 50px;
        padding-top: 20px;
    }
}


@media screen and (min-width: 601px) {
    #bovenaan {
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    #bovenaan {
        max-width: 200%;
    }
}



.lisatwee {
    margin: 40px;
    padding: 30px;
}

.lisatwee h2 {
    margin-top: 40px;
}

.button {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
    text-decoration: none;
    background-color: #6C804D;
    color: black;
    padding: 10px 20px;
    margin-top: 40px;
    display: inline-block;
    border-radius: 20px;
}




.tekst {
    text-align: center;
    padding: 20px;

}

/*knoppen stuk */

.container {
    position: relative;
    width: 50%;
}



.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 10;
}

.text {
    background-color: #6C804D;
    color: white;
    border-radius: 100px;
    font-size: 16px;
    font-family: 'Piazzolla', serif;
    padding: 16px 32px;
    text-align: center;
}




@media screen and (min-width: 601px) {
    .flex-container2 {
        display: flex;
        flex-direction: row;
        max-width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .flex-container2 {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
}

/* einde knoppen stuk */

/* over mij stuk */

.about section:first-of-type img {
    max-width: 500px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container div {
    padding: 20px;
    margin: 30px;
}

@media screen and (min-width: 601px) {
    .flex-container {
        display: flex;
        flex-direction: row;
        margin: 100px;
    }
}

@media screen and (max-width: 600px) {
    .flex-container {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 601px) {
    .portret {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;

    }
}

@media screen and (max-width: 600px) {
    .portret {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
}

figcaption {
    font-size: 12px;
    margin-top: 5px;
    font-family: 'Slabo 27px', serif;
    text-align: left;
}

.about p {
    background-color: white;
}

.about div {
    background-color: white;
}

.lisa {
    background-color: #AAB869;
}

/* design portfolio */
.cmd h2,
.cmd h3 {
    text-align: right;
    color: black;
}

iframe {
    width: 500px;
    height: 500px;
}

video {
    width: 500px;
}

/*art portfolio*/
.art h2 {
    text-align: left;
    justify-content: center;
}

.art section img {
    float: left;
    width: 23%;
    margin: .5em;
}

.art p,
.cmd p,
.about p{
    text-align: right;
  font-family: 'Piazzolla', serif;
}

/*cmd*/
.cmd h1 {
    font-size: 5em;
}

.cmd .flex-container div {
    margin: 0;
    padding: 0 10px;
}

/* Footer */

footer {
    bottom: 0;
    text-align: center;
}

footer p {
    font-size: 14px;
}
